body{
    /*background-color: red;*/
}

h1, h2{
    color: green;
}

img#deocration{
    float: right;
}

div#search{
	float: right;
}

a.logo{
	text-decoration: none;
	color: red;
}

.footer{
	font-size: 80%;
}