{% extends 'polls/layout.html' %}

{% block content %}

<!-- TODO: togglet title if it's add or edit -->
<h2>Add/Edit Poll</h2>

<form action="" method="post">
    {% csrf_token %}
    <div class="field">
        {{ form.topic.errors }}
        <label for="id_topic">Subject:</label>
        {{ form.topic }}
    </div>
    <div class="field">
        {{ form.sender.errors }}
        <label for="id_sender">Your e-mail address:</label>
        {{ form.sender }}
    </div>
    <div class="field">
        {{ form.message.errors }}
        <label for="id_message">Message:</label>
        {{ form.message }}
    </div>
    <input type="submit" value="Submit">
</form>

{% endblock %}