<!doctype html public "✰">
<html lang="en-gb">
    <head>
    <meta charset="utf-8">
        <title>Poll</title>
        <link type="text/css" rel="stylesheet" media="screen" href="{{STATIC_URL}}polls/css/style.css" media="all">
    </head>

    <body>

        <h1><a href="{% url poll_index %}">Pollmainia! {{STATIC_URL}}</a></h1>

        <img id="deocration" src="{{STATIC_URL}}polls/img/polar-bear-face.jpg">

        {% block content %}
        {% endblock %}

        <p>I'm the footer</p>

    </body>
</html>