{% extends 'polls/layout.html' %}

{% block content %}

<h2>Search</h2>

<!-- . didn't work for some reason -->
<!--
<form action="" method="GET">
    <label for="q">Search: </label>
    <input type="text" name="q" value="{{ query|escape }}">
    <input type="submit" value="Search">
</form>
-->

{% if query %}
    <p><strong>Results for "{{ query|escape }}":</strong></p>

    {% if results %}
        <ol>
            {% for poll in results %}
                <!-- TODO: could hightlight search term in text. Would you use a helper? -->
                <li><a href="{% url poll_detail poll.id %}">{{ poll|escape }}</a></li>
            {% endfor %}
        </ol>
    {% else %}
        <p>No Polls found</p>
    {% endif %}
{% endif %}

{% endblock %}