{% extends 'polls/layout.html' %}

{% block content %}

<h2>{{ poll.question }}</h2>

{% if poll.choice_set.all.count == 0 %}
<p>No choices to vote on yet. <a href="{% url polls.views.suggest_choice poll.id %}">Suggest a choice</a></p>
{% else %}


{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url polls.views.vote poll.id %}" method="post">
{% csrf_token %}
{% for choice in poll.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
{% endfor %}
<input type="submit" value="Vote" />
</form>

{% endif %}

{% endblock %}