{% extends 'polls/layout.html' %}

{% block content %}

<h2>Feedback</h2>

<div class="field{% if form.message.errors %} errors{% endif %}">
    {% if form.message.errors %}
        <ul>
        {% for error in form.message.errors %}
            <li><strong>{{ error }}</strong></li>
            <!-- can we get the name of the field here? -->
        {% endfor %}
        </ul>
    {% endif %}
</div>

<form action="" method="post">
    {% csrf_token %}
    <div class="field">
        {{ form.topic.errors }}
        <label for="id_topic">Subject:</label>
        {{ form.topic }}
    </div>
    <div class="field">
        {{ form.sender.errors }}
        <label for="id_sender">Your e-mail address:</label>
        {{ form.sender }}
    </div>
    <div class="field">
        {{ form.message.errors }}
        <label for="id_message">Message:</label>
        {{ form.message }}
    </div>
    <input type="submit" value="Submit">
</form>


{% endblock %}